<div class="container">
        <form class="search-form" id="search-form">
            <input class="input" type="text" name="query" autocomplete="off" placeholder="Search images..." />
            <button type="submit" class="btn-search button">Search</button>
        </form>
    
        <div class="gallery-list">
            <ul class="gallery list card">
                <!-- Список <li> с карточками изображений -->
            </ul>
        </div>
    
        <button type="button" class="load-more-btn button">
            <span class="label">Load more</span>
        </button>
        <div class="loader is-hidden"></div>
</div>

